:root {
    --Color1: #D9E8F2;
    --Color2: #7A8B99;
    --Color3: #1A2A3B;
    --Font-Family: "Outfit", sans-serif;
    --Weight-bold: 700;
    --Weight-thin: 400;
    --height-mobile: 60%;
    --height-desktop: 40%;
    --width-mobile: 85%;
    --width-desktop: 20%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



    body {
        background-color: var(--Color1);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Outfit", sans-serif;
    }

    #card {
        border: 2px solid;
        border-radius: 5px;
        right: 50;
        margin-top: 20px;
        background-color: #FFFFFF;
        width:35%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #card, h1 
    {
        color: var(--Color3);
        font-size: 18px;
        margin: 3px;
        font-weight: var(--Weight-bold);    
    }

    #card, 
    p {
        color: var(--Color2);
        margin: 3px;
        font-weight: var(--Weight-thin);
        
    }

    #img-box
    {

        width: 17%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    img {
        background-color: #FFFFFF;
        border: 3px solid;
        
    }

